<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- DEBUG MANIFEST - ONLY FOR UI TESTS -->

    <application android:usesCleartextTraffic="true">
        <activity android:name=".ui.AlbumListActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
    </application>

</manifest>